{%  extends "news/base.html" %}

{% block title %}
  {{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
      {% include 'news/inc/_sidebar.html' %}
{% endblock %}

{% block content %}

      <div class="card mb-3">
        <div class="card-header">
          Категория: <a href="{{ item.category.get_absolute_url }}"> {{ news_item.category }} </a>
            <p> Рейтинг: {{ rate_news }}</p>
            <form method="post" action="/view_news/{{news.id}}">
                {% csrf_token %}
                {{ rate_form }}
                <button class="btn btn-primary" type="submit">Rate</button>
            </form>
        </div>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <h5 class="card-title" >{{news_item.title}}</h5>
                    <p class="card-text" >{{news_item.content}} </p>
                </div>
                <form method="post" action="/view_news/{{news.id}}">
                {% csrf_token %}
                {{ rating_form }}
                <button class="btn btn-primary" type="submit">Rate</button>
                </form>
                <div class="card-footer text-muted">
                  {{ news_item.pub_date|date:"Y-m-d H:m:s" }}
                </div>
            </div>
      </div>



{% endblock %}

